body{
    margin: 0; 
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}


.container {
    height: 100vh;
    margin: 0;
    padding: 20px;
    background-color: #FFFAFA;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    
}

.input-container {
    display: flex;
    margin-bottom: 15px;
}

.input-container input {
    flex: 1;
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-right: 10px;
    
}

.input-container input:focus{
    border-color: #DCDCDC; 
    outline: none;
}

.input-container button {
    padding: 8px 16px;
    font-size: 16px;
    border: none;
    background-color: #D2691E;
    color: #fff;
    border-radius: 4px;
    cursor: pointer;
}

.panels-container {
    display: flex;
    justify-content: space-between;
}

.panels-container button{
    display: inline-block;
    padding: 5px 10px;
    text-align: center; 
    text-decoration: none; 
    background-color: #D2691E; 
    color: #fff;
    border: none; 
    border-radius: 5px; 
    cursor: pointer; 
    transition: background-color 0.3s ease;
}

.panels-container button:hover{
    background-color: #F4A460;
}
.panel {
    flex: 1;
    padding: 20px;
    background-color: #FFF0F5;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    margin-right: 10px;
}

.task-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
}

.task-item button {
    padding: 6px 12px;
    font-size: 14px;
    border: none;
    background-color: #dc3545;
    color: #fff;
    border-radius: 4px;
    cursor: pointer;
}

.task-item button:not(:last-child) {
    margin-right: 10px;
}

li {
    list-style-type: none;
    color: #800000;
    font-family: Arial, Helvetica, sans-serif;
    
  }
h1,h2{
    color: #800000;
}

